/* Reset styles */
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: var(--vscode-font-family);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
}

body {
	color: var(--vscode-foreground);
	background-color: var(--vscode-editor-background);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 600;
}

p {
	margin: 0;
	padding: 0;
}

input, textarea, button, select {
	font-family: inherit;
	font-size: inherit;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}